POSTGRES_HOST=127.0.0.1
POSTGRES_HOST_PORT=55432
POSTGRES_DB=edu_agent_dev
POSTGRES_ADMIN_USER=edu_admin
POSTGRES_ADMIN_PASSWORD=replace-with-a-local-random-password
POSTGRES_MIGRATOR_USER=edu_migrator
POSTGRES_MIGRATOR_PASSWORD=replace-with-a-local-random-password
POSTGRES_APP_USER=edu_app
POSTGRES_APP_PASSWORD=replace-with-a-local-random-password
POSTGRES_RUNTIME_USER=edu_runtime
POSTGRES_RUNTIME_PASSWORD=replace-with-a-local-random-password
POSTGRES_WORKER_USER=edu_worker
POSTGRES_WORKER_PASSWORD=replace-with-a-local-random-password
